<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
  <title>搜索结果</title>
</head>

<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('qa.index') }}">论坛</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('wuping.index') }}">首页</a></li>
        <li><a href="{{ url_for('qa.hot_posts') }}">热门帖子</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
        </div>
        <button type="submit" class="btn btn-default">提交</button>
      </form>
    </div>
  </nav>

  <!-- 主要内容 -->
  <div class="container">
    <h2>搜索结果</h2>
    <p>以下是关于“搜索词”的帖子列表：</p>
    <ul class="list-group">
      <!-- 帖子列表内容 -->
        {% for question in questions %}
          <li class="list-group-item">
            <h4><a href="{{ url_for('qa.qa_detail', qa_id=question.id) }}">{{ question.title }}</a></h4>
            <p class="text-muted">作者：{{ question.author.username }}</p>
            <p>{{ question.content }}</p>
          </li>
        {% endfor %}
    </ul>
  </div>

  <!-- 底部 -->
  <footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">版权所有 &copy; 论坛 2023</p>
    </div>
  </footer>
  <script src="{{ url_for('static',filename='bootstrap/js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>

  <script>
    // 模拟搜索功能
    $(document).ready(function() {
      $('form.navbar-form').submit(function(event) {
        event.preventDefault();
        var searchTerm = $(this).find('input[type="text"]').val();
        
        // 使用搜索词进行相关操作，如异步请求后端获取搜索结果
        
        // 示例：跳转到搜索结果页面
        window.location.href = 'search_results.html';
      });
    });
  </script>
</body>

</html>